@charset "UTF-8";
.website-navigation {
  position: sticky;
  top: 0;
}

.button__download__google,
.button__download__apple, .button, .button__plan,
.button--toggle, .website-navigation nav ul .button--collapsed {
  width: auto;
  height: 4rem;
  color: #131212;
  background: linear-gradient(to bottom, #ffe600, #ebb70a);
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  font-size: 1.25rem;
  font-family: Archivo, sans-serif;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid #ffe600;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem black;
}
.button__download__google:hover,
.button__download__apple:hover, .button:hover, .button__plan:hover,
.button--toggle:hover, .website-navigation nav ul .button--collapsed:hover {
  background: none;
  background-color: #131212;
  color: #ffe600;
  border: thin solid #ffe600;
  box-shadow: 0 0.5rem 0.5rem black;
}
.button__download__google:hover a,
.button__download__apple:hover a, .button:hover a, .button__plan:hover a,
.button--toggle:hover a, .website-navigation nav ul .button--collapsed:hover a {
  color: #ffe600;
}

.button__plan,
.button--toggle, .website-navigation nav ul .button--collapsed {
  width: auto;
  height: 2.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  text-align: center;
}

.index__body main .online-classes .online-classes-mobile__content h2, .index__body .header-home .header-home__content h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.user__body .schedule .schedule__table tbody tr th,
.user__body .schedule .schedule__table tbody tr td, .user__body .schedule .schedule__table thead th {
  width: 12.5%;
  height: 3rem;
}

/*Generales*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto_Condensed variant0, sans-serif;
  background-color: #131212;
  color: white;
}

/*Links*/
a {
  text-decoration: none;
}
a:link, a:visited {
  color: white;
}

a[class=button--text-black] {
  color: #131212;
}

a[class=link] {
  color: #ffe600;
}

/* Headings */
.heading {
  font-family: Archivo, sans-serif;
  font-weight: 900;
}

.heading__text-decoration {
  color: #131212;
  background-color: #ffe600;
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

h1 {
  font-size: 3.125rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.375rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.3125rem;
}

/*Nav*/
.website-navigation {
  z-index: 1;
  padding: 0 7.5rem;
  background-color: #131212;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  grid-area: website-navigation;
}
.website-navigation .website-navigation__logo {
  width: auto;
  height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
}
.website-navigation nav ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /*este boton esta puesto en la nav por temas de especificidad*/
}
.website-navigation nav ul li {
  width: auto;
  height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  font-family: Archivo, sans-serif;
}
.website-navigation nav ul li:nth-child(5) {
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
}
.website-navigation nav ul li .website-navigation__link:hover {
  color: #ffe600;
  text-decoration: underline;
}
.website-navigation-mobile {
  display: none;
}

/*Index*/
.index__body {
  /*Layout del index*/
  /*Grid 1x6*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "website-navigation" "header-home" "activities" "online-classes" "plans" "footer";
  justify-items: stretch;
  align-items: stretch;
}
.index__body .header-home {
  /*Header*/
  width: auto;
  height: 80vh;
  background-image: url(../img/home-hero-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  grid-area: header-home;
  animation-name: hero-image;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
.index__body .header-home .header-home__content {
  padding-top: 9rem;
  padding-right: 0;
  padding-bottom: 9rem;
  padding-left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.index__body .header-home .header-home__content h1,
.index__body .header-home .header-home__content p,
.index__body .header-home .header-home__content button {
  margin-left: 9rem;
}
.index__body .header-home .header-home__content p {
  font-size: 1.3125rem;
  margin-bottom: 2rem;
}
.index__body main .activities {
  /*Activities section*/
  padding: 9rem 7.5rem;
  text-align: center;
  /*Grid 4x3*/
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "activities__heading activities__heading activities__heading activities__heading" "activities__weightlift activities__cross activities__boxing activities__yoga" "activities__button activities__button activities__button activities__button";
  justify-items: center;
  align-items: stretch;
  grid-area: activities;
}
.index__body main .activities .activities__heading {
  grid-area: activities__heading;
}
.index__body main .activities .activities__weightlift {
  grid-area: activities__weightlift;
}
.index__body main .activities .activities__cross {
  margin-top: 4rem;
  grid-area: activities__cross;
}
.index__body main .activities .activities__boxing {
  grid-area: activities__boxing;
}
.index__body main .activities .activities__yoga {
  margin-top: 4rem;
  grid-area: activities__yoga;
}
.index__body main .activities .activities__button {
  grid-area: activities__button;
}
.index__body main .activities .activities__heading,
.index__body main .activities .activities__gym-card {
  margin-bottom: 4rem;
}
.index__body main .activities .activities__gym-card .activities__gym-card__text {
  margin-top: 1rem;
  margin-bottom: 0;
}
.index__body main .online-classes {
  /*Online Classes section*/
  width: auto;
  height: 29rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 7.5rem;
  background-color: #6b6b6b;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  grid-area: online-classes;
  overflow: hidden;
}
.index__body main .online-classes .online-classes-mobile__content p {
  margin-top: 0;
}
.index__body main .online-classes .online-classes__image {
  width: 50vw;
  height: 100%;
}
.index__body main .online-classes .online-classes__image img {
  width: 50vw;
  height: 100%;
}
.index__body main .plans {
  /*Plans Section*/
  padding: 9rem 7.5rem;
  text-align: center;
  background-color: #333333;
  /* Grid 2x3 */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "plans__heading plans__heading" "plans__button-toggle-container plans__button-toggle-container" "plans__normal-plan plans__thunder-plan";
  justify-items: center;
  align-items: center;
  grid-area: plans;
}
.index__body main .plans .plans__heading {
  margin-bottom: 4rem;
  grid-area: plans__heading;
}
.index__body main .plans .plans__button-toggle-container {
  background-color: #131212;
  border-radius: 0.5rem;
  width: 24rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 16px black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  grid-area: plans__button-toggle-container;
}
.index__body main .plans .plans__gym-plan {
  width: 24rem;
  height: 41rem;
  background-color: #131212;
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.index__body main .plans .plans__gym-plan:hover {
  transform: scale(1.1, 1.1);
  transition: 0.25s;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__name {
  font-family: Archivo, sans-serif;
  font-size: 2.375rem;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__separator {
  background-color: white;
  width: 22rem;
  height: 0.125rem;
  margin-top: 0.25rem;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__relevant-info {
  font-family: Archivo, sans-serif;
  font-size: 1.3125rem;
  margin-top: 2rem;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__benefits {
  padding-left: 0;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__benefits li {
  padding-top: 0.5rem;
  padding-right: 0;
  padding-bottom: 0.5rem;
  padding-left: 0;
  text-align: center;
}
.index__body main .plans .plans__gym-plan .plans__gym-plan__benefits li .bi-plans {
  padding-right: 0.5rem;
}
.index__body main .plans .plans__normal-plan {
  grid-area: plans__normal-plan;
}
.index__body main .plans .plans__thunder-plan {
  grid-area: plans__thunder-plan;
}
.index__body main .plans .plans__thunder-plan .plans__thunder-plan__tag {
  color: #ffe600;
  font-weight: 900;
}

@keyframes fadein {
  0% {
    position: absolute;
    left: -100%;
  }
  100% {
    position: absolute;
    left: 0;
  }
}
@keyframes hero-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*About us*/
.about-us__body {
  /*Layout de about-us*/
  /*Grid 1x4*/
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "website-navigation" "header-about-us" "staff" "footer";
  justify-items: stretch;
  align-items: stretch;
}
.about-us__body .header-about-us {
  /*Header*/
  width: 100%;
  height: 37.5rem;
  padding: 9rem 7.5rem;
  background-image: url(../img/about-us-header-background.webp);
  background-repeat: no-repeat;
  text-align: center;
  grid-area: header-about-us;
}
.about-us__body .header-about-us p {
  font-size: 1.3125rem;
}
.about-us__body .staff {
  /*Staff Section*/
  background-color: #333333;
  padding: 9rem 7.5rem;
  text-align: center;
  /* Grid 4x3 */
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  grid-area: staff;
}
.about-us__body .staff h2 {
  grid-column: 1/5;
  margin-bottom: 4rem;
}
.about-us__body .staff .staff__member {
  margin-bottom: 2rem;
}
.about-us__body .staff .staff__member img {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem black;
}
.about-us__body .staff .staff__member p {
  margin-top: 1rem;
  margin-bottom: 0;
}

/*Location*/
.location__body {
  /*Layout de location*/
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "website-navigation" "header-location" "features" "information" "footer";
  justify-items: stretch;
  align-items: stretch;
}
.location__body .header-location {
  /*Header*/
  padding: 0 7.5rem;
  text-align: center;
  grid-area: header-location;
}
.location__body .header-location h1 {
  margin-bottom: 4rem;
}
.location__body .header-location .carousel-mobile {
  display: none;
}
.location__body .header-location .carousel-slide {
  /*Carrusel de imágenes*/
  margin-bottom: 4rem;
}
.location__body .header-location .carousel-slide .carousel-inner .carousel-item img {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.location__body .header-location .carousel-slide .carousel-control-prev,
.location__body .header-location .carousel-slide .carousel-control-next {
  opacity: 1;
}
.location__body .header-location .carousel-slide .carousel-control-prev .carousel-icon-container,
.location__body .header-location .carousel-slide .carousel-control-next .carousel-icon-container {
  background-color: #333333;
  padding: 0.5rem;
  border-radius: 100px;
}
.location__body .header-location .carousel-slide .carousel-control-prev .carousel-icon-container .bi-chevron-left,
.location__body .header-location .carousel-slide .carousel-control-prev .carousel-icon-container .bi-chevron-right,
.location__body .header-location .carousel-slide .carousel-control-next .carousel-icon-container .bi-chevron-left,
.location__body .header-location .carousel-slide .carousel-control-next .carousel-icon-container .bi-chevron-right {
  font-size: 2rem;
  color: white;
}
.location__body .header-location .carousel-slide .carousel-control-prev .carousel-icon-container .bi-chevron-left:hover,
.location__body .header-location .carousel-slide .carousel-control-prev .carousel-icon-container .bi-chevron-right:hover,
.location__body .header-location .carousel-slide .carousel-control-next .carousel-icon-container .bi-chevron-left:hover,
.location__body .header-location .carousel-slide .carousel-control-next .carousel-icon-container .bi-chevron-right:hover {
  color: #ffe600;
}
.location__body .features {
  /*Features Section*/
  text-align: center;
  padding: 9rem 7.5rem;
  grid-area: features;
}
.location__body .features .features__gym-features {
  /*Features*/
  margin-top: 0;
  margin-right: 12.75rem;
  margin-bottom: 0;
  margin-left: 12.75rem;
  /*Grid 4x2*/
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "features__gym-features__lockers features__gym-features__showers features__gym-features__glove features__gym-features__dumbbell" "features__gym-features__time features__gym-features__staff features__gym-features__gymnastics features__gym-features__air-conditioner";
  justify-items: center;
  align-items: stretch;
}
.location__body .features .features__gym-features input {
  display: none;
}
.location__body .features .features__gym-features .open-modal {
  color: #ffe600;
  cursor: pointer;
}
.location__body .features .features__gym-features .open-modal:hover {
  text-decoration: underline;
}
.location__body .features .features__gym-features .modal-container {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.location__body .features .features__gym-features .modal-container .modal-content {
  background-color: #131212;
  width: fit-content;
  height: auto;
  padding: 1.5rem;
  border: medium solid white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white label;
  color-justify-self: end;
}
.location__body .features .features__gym-features .modal-container .close-modal {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.location__body .features .features__gym-features .modal-container #btn-modal-lockers:checked ~ .modal-container {
  display: flex;
}
.location__body .features .features__gym-features .features__gym-features__listitem {
  width: 11.25rem;
  height: 15.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
  margin-top: 2rem;
  background-color: #131212;
  border: thin solid white;
  border-top: medium solid white;
  text-align: center;
  border-radius: 0.25rem;
}
.location__body .features .features__gym-features .features__gym-features__listitem p {
  margin-top: 0.5rem;
  font-family: Archivo, sans-serif;
  color: white;
}
.location__body .features .features__gym-features .features__gym-features__lockers {
  grid-area: features__gym-features__lockers;
}
.location__body .features .features__gym-features .features__gym-features__showers {
  grid-area: features__gym-features__showers;
}
.location__body .features .features__gym-features .features__gym-features__glove {
  grid-area: features__gym-features__glove;
}
.location__body .features .features__gym-features .features__gym-features__dumbbell {
  grid-area: features__gym-features__dumbbell;
}
.location__body .features .features__gym-features .features__gym-features__time {
  grid-area: features__gym-features__time;
}
.location__body .features .features__gym-features .features__gym-features__staff {
  grid-area: features__gym-features__staff;
}
.location__body .features .features__gym-features .features__gym-features__gymnastics {
  grid-area: features__gym-features__gymnastics;
}
.location__body .features .features__gym-features .features__gym-features__air-conditioner {
  grid-area: features__gym-features__air-conditioner;
}
.location__body .information {
  /*Information Section*/
  background-color: #333333;
  padding: 9rem 7.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: information;
}
.location__body .information .information__contact-information h3 {
  margin-bottom: 2rem;
}
.location__body .information .information__contact-information ul {
  padding: 0;
}
.location__body .information .information__contact-information ul li {
  margin-bottom: 1rem;
}

/*Contact*/
.contact__body {
  /*Layout de contact*/
  /*Grid 1x3*/
  background-color: #333333;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "website-navigation" "header-contact" "contact-form" "footer";
  justify-items: stretch;
  align-items: stretch;
}
.contact__body .header-contact {
  /*Header*/
  padding: 0 7.5rem;
  text-align: center;
  grid-area: header-contact;
}
.contact__body .contact-form {
  /*Form*/
  padding-top: 0;
  padding-right: 7.5rem;
  padding-bottom: 9rem;
  padding-left: 7.5rem;
  grid-area: contact-form;
}
.contact__body .contact-form form .contact-form__form__control {
  margin-bottom: 2rem;
}
.contact__body .contact-form form .control-submit-contact {
  text-align: center;
}
.contact__body .contact-form form .control-submit-contact input {
  width: 12rem;
}

/*Login*/
.login {
  /*Layout del login*/
  /*Grid 2x2*/
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "login__header login__aside" "login__section login__aside";
  justify-items: stretch;
  align-items: stretch;
}
.login .login__header {
  /*Header*/
  padding: 0 7.5rem;
  text-align: center;
  grid-area: login__header;
  align-self: end;
}
.login .login__section {
  /*Form*/
  padding-top: 0;
  padding-right: 7.5rem;
  padding-bottom: 9rem;
  padding-left: 7.5rem;
  grid-area: login__section;
}
.login .login__section .login__section__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.login .login__section .login__section__form p {
  margin-bottom: 2rem;
}
.login .login__section .login__section__form .create-account,
.login .login__section .login__section__form .control-submit-login {
  margin-bottom: 2rem;
  align-self: center;
}
.login .login__section .login__section__form .control-submit-login {
  width: 12rem;
}
.login .login__section .login__section__form .create-account a {
  font-family: Archivo, sans-serif;
  font-weight: 700;
}
.login .login__section .login__section__form .create-account a:hover {
  text-decoration: underline;
}
.login .login__aside {
  /*Aside*/
  max-width: 100%;
  grid-area: login__aside;
}
.login .login__aside img {
  width: 100%;
  height: 100vh;
}

/*User*/
.user__body {
  /*Layout de user*/
  /*Grid 1x5*/
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "website-navigation" "header-user" "download" "schedule" "footer";
  justify-items: "stretch";
  align-items: stretch;
}
.user__body .header-user {
  /*Header*/
  padding: 0 7.5rem;
  grid-area: header-user;
}
.user__body .download {
  /*Download section*/
  padding: 9rem 7.5rem;
  grid-area: download;
  /*Grid 3x4*/
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "download__heading download__heading download__image" "download__benefit__qr download__benefit__qr download__image" "download__benefit__info download__benefit__info download__image" "button__download__google button__download__apple download__image";
  justify-items: stretch;
  align-items: stretch;
}
.user__body .download .download__heading {
  grid-area: download__heading;
  align-self: end;
}
.user__body .download .download__image {
  grid-area: download__image;
}
.user__body .download .download__benefit__qr {
  grid-area: download__benefit__qr;
}
.user__body .download .download__benefit__info {
  grid-area: download__benefit__info;
}
.user__body .download .button__download__google {
  grid-area: button__download__google;
  align-self: center;
  justify-self: center;
  width: 14rem;
}
.user__body .download .button__download__apple {
  grid-area: button__download__apple;
  align-self: center;
  width: 14rem;
}
.user__body .download .download__benefit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.user__body .download .download__benefit img {
  max-width: 4.5rem;
  max-height: 4.5rem;
}
.user__body .download .download__benefit div {
  padding-left: 2.5rem;
}
.user__body .download .download__benefit h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.user__body .schedule {
  /*Schedule Section*/
  padding: 9rem 7.5rem;
  grid-area: schedule;
  /*Grid 4x2*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "schedule__gym-classes__boxing schedule__gym-classes__crossfit schedule__gym-classes__yoga schedule__gym-classes__online" "schedule__table schedule__table schedule__table schedule__table";
  justify-items: center;
  align-items: stretch;
  text-align: center;
}
.user__body .schedule .schedule__gym-class {
  margin-bottom: 4rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: thin solid white;
  border-radius: 0.5rem;
}
.user__body .schedule .schedule__gym-class .schedule__gym-class__image {
  font-family: Archivo, sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}
.user__body .schedule .schedule__gym-class .schedule__gym-class__image img {
  width: 4rem;
  height: 4rem;
}
.user__body .schedule .schedule__gym-class .schedule__gym-class__time {
  display: none;
}
.user__body .schedule .schedule__gym-classes__boxing {
  grid-area: schedule__gym-classes__boxing;
  border-top: thick solid red;
}
.user__body .schedule .schedule__gym-classes__crossfit {
  grid-area: schedule__gym-classes__crossfit;
  border-top: thick solid orange;
}
.user__body .schedule .schedule__gym-classes__yoga {
  grid-area: schedule__gym-classes__yoga;
  border-top: thick solid green;
}
.user__body .schedule .schedule__gym-classes__online {
  grid-area: schedule__gym-classes__online;
  border-top: thick solid violet;
}
.user__body .schedule .schedule__table {
  /*Tabla*/
  grid-area: schedule__table;
  width: 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 4rem;
}
.user__body .schedule .schedule__table caption {
  display: none;
}
.user__body .schedule .schedule__table thead th {
  background-color: #333333;
  border: thin solid white;
}
.user__body .schedule .schedule__table tbody tr th,
.user__body .schedule .schedule__table tbody tr td {
  border: thin solid white;
}
.user__body .schedule .schedule__table tbody tr .schedule__table__cell-crossfit {
  border-top: medium solid orange;
}
.user__body .schedule .schedule__table tbody tr .schedule__table__cell-yoga {
  border-top: medium solid green;
}
.user__body .schedule .schedule__table tbody tr .schedule__table__cell-boxing {
  border-top: medium solid red;
}
.user__body .schedule .schedule__table tbody tr .schedule__table__cell-online {
  border-top: medium solid violet;
}

/*Buttons*/
.button--toggle {
  width: 50%;
  height: auto;
  margin: 0;
  box-shadow: none;
}
.button--toggle:hover {
  box-shadow: none;
}

.button__plan {
  margin-top: 2rem;
}

.button--off {
  background: none;
  border: none;
  color: white;
  background-color: #131212;
}

.button__download__google,
.button__download__apple {
  text-align: center;
  width: 13rem;
  height: 6rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

/*forms*/
.form-control {
  background: transparent;
  border: thin solid white;
  color: white;
}
.form-control:hover {
  border-color: #ffe600;
}
.form-control:focus {
  background-color: #333333;
  color: white;
}
.form-control::placeholder {
  color: white;
}

/*Footer*/
.footer {
  background-color: #131212;
  padding: 9rem 7.5rem 0;
  /* Grid 3x2 */
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "footer__social-media footer__navigation-links footer__company-links" "footer__copyright footer__copyright footer__copyright";
  justify-items: center;
  align-items: stretch;
  grid-area: footer;
}
.footer .footer__social-media {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  grid-area: footer__social-media;
}
.footer .footer__social-media .footer__social-media__address,
.footer .footer__social-media .footer__social-media__logo {
  text-align: center;
}
.footer .footer__social-media .footer__social-media__media {
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
.footer .footer__social-media .footer__social-media__media a .bi-footer {
  font-size: 1.75rem;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
}
.footer .footer__social-media .footer__social-media__media a .bi-footer:hover {
  color: #ffe600;
}
.footer .footer__navigation-links {
  grid-area: footer__navigation-links;
}
.footer .footer__navigation-links ul {
  padding-left: 0;
}
.footer .footer__navigation-links ul li .footer__navigation-links__link:hover {
  color: #ffe600;
  text-decoration: underline;
}
.footer .footer__company-links {
  grid-area: footer__company-links;
}
.footer .footer__company-links ul {
  padding-left: 0;
}
.footer .footer__copyright {
  text-align: center;
  grid-area: footer__copyright;
  justify-self: stretch;
}
.footer .footer__copyright .footer__copyright__separator {
  width: 100%;
  height: 0.25rem;
  background-color: white;
  margin-bottom: 1rem;
}
.footer .footer__company-links,
.footer .footer__navigation-links,
.footer .footer__social-media {
  margin-bottom: 2rem;
}

/*Vista Mobile*/
@media screen and (min-width: 320px) and (max-width: 576px) {
  /*Generales*/
  /* headings */
  h1 {
    font-size: 2.375rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.3125rem;
  }
  h4 {
    font-size: 1rem;
  }
  /* Nav */
  .website-navigation {
    display: none;
  }
  .website-navigation-mobile {
    display: block;
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar {
    background-color: #131212;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid {
    padding: 0 1rem;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-toggler .bi-list {
    color: white;
    font-size: 1.5rem;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-toggler .bi-list:hover {
    color: #ffe600;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-toggler:focus {
    border: thin solid #ffe600;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-toggler:focus .bi-list {
    color: #ffe600;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-collapse .navbar-nav {
    align-items: center;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    width: auto;
    height: 3rem;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: Archivo, sans-serif;
  }
  .website-navigation-mobile .website-navigation-mobile__navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .button--collapsed {
    color: #131212;
  }
  /*Index*/
  .index__body .header-home {
    /* Header */
    width: auto;
    height: 80vh;
    background-image: url(../img/home-hero-image-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
  }
  .index__body .header-home .header-home__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .index__body .header-home .header-home__content h1,
  .index__body .header-home .header-home__content p,
  .index__body .header-home .header-home__content div {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    max-width: calc(100vw - 32px);
    text-align: center;
  }
  .index__body .header-home .header-home__content p {
    font-size: 1rem;
  }
  .index__body main .activities {
    /* Activities section */
    padding: 5rem 1rem;
    /*Grid 1x6*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "activities__heading" "activities__weightlift" "activities__cross" "activities__boxing" "activities__yoga" "activities__button";
    justify-items: center;
    align-items: stretch;
  }
  .index__body main .activities .activities__gym-card {
    width: calc(100vw - 32px);
    height: auto;
    max-width: auto;
  }
  .index__body main .activities .activities__gym-card img {
    width: 100%;
    height: auto;
  }
  .index__body main .activities .activities__cross,
  .index__body main .activities .activities__yoga {
    margin-top: 0;
  }
  .index__body main .activities .activities__heading,
  .index__body main .activities .activities__gym-card {
    margin-bottom: 1.5rem;
  }
  .index__body main .online-classes {
    /* Online-classes section */
    height: 29.75rem;
    height: auto;
    padding: 0;
    flex-flow: column nowrap;
    text-align: center;
  }
  .index__body main .online-classes h2 {
    margin-bottom: 1rem;
  }
  .index__body main .online-classes .online-classes-mobile__content {
    padding: 5rem 1rem 2rem;
  }
  .index__body main .online-classes .online-classes-mobile__content .online-classes-mobile__content__text--12 {
    display: block;
    font-size: 0.75rem;
  }
  .index__body main .online-classes .online-classes__image img {
    width: 100%;
    height: auto;
  }
  .index__body main .plans {
    /* Plans section */
    padding: 5rem 1rem;
    /*Grid 1x4*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "plans__heading" "plans__button-toggle-container" "plans__normal-plan" "plans__thunder-plan";
    justify-items: center;
    align-items: center;
  }
  .index__body main .plans .plans__button-toggle-container {
    width: 10.75rem;
    height: 2.25rem;
  }
  .index__body main .plans .plans__heading {
    margin-bottom: 2rem;
  }
  .index__body main .plans .plans__gym-plan {
    width: calc(100vw - 32px);
    height: 35rem;
    max-width: 22.5rem;
    margin-top: 2rem;
  }
  .index__body main .plans .plans__gym-plan .plans__gym-plan__separator {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0.25rem;
  }
  .index__body main .plans .plans__gym-plan .plans__gym-plan__name {
    font-size: 1.75rem;
  }
  .index__body main .plans .plans__gym-plan .plans__gym-plan__relevant-info {
    font-size: 1rem;
    margin-top: 2rem;
  }
  /*Location*/
  .location__body .header-location {
    /*Header*/
    padding: 0 1rem;
  }
  .location__body .features {
    /* Features section */
    padding: 5rem 1rem;
  }
  .location__body .features .carousel-desktop {
    display: none;
  }
  .location__body .features .carousel-mobile {
    display: block;
  }
  .location__body .features .features__gym-features {
    width: calc(100vw - 32px);
    height: auto;
    margin-top: 2.5rem;
    margin-right: 0;
    margin-bottom: 2.5rem;
    margin-left: 0;
    /*Grid 2x4*/
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "features__gym-features__lockers features__gym-features__showers" "features__gym-features__glove features__gym-features__dumbbell" "features__gym-features__time features__gym-features__staff" "features__gym-features__gymnastics features__gym-features__air-conditioner";
    justify-items: start;
    align-items: stretch;
    row-gap: 1rem;
  }
  .location__body .features .features__gym-features .features__gym-features__listitem {
    width: calc(100% - 16px);
    height: 10.625rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    margin: 0;
    background-color: #131212;
    border: 0.0625rem solid white;
    text-align: center;
  }
  .location__body .features .features__gym-features div:nth-child(even) {
    justify-self: end;
  }
  .location__body .information {
    /* Information section */
    padding: 5rem 1rem;
    flex-flow: column nowrap;
  }
  .location__body .information .information__contact-information h3 {
    margin-bottom: 2rem;
  }
  .location__body .information .information__contact-information ul {
    margin-bottom: 2rem;
  }
  .location__body .information iframe {
    width: 100%;
    height: auto;
  }
  /*About Us*/
  .about-us__body .header-about-us {
    /*Header*/
    width: 100%;
    height: 115vh;
    padding: 5rem 1rem;
    background-size: cover;
  }
  .about-us__body .staff {
    /*Staff Section*/
    padding: 5rem 1rem;
    width: 100vw;
    height: auto;
    /*Grid 2x5*/
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
  }
  .about-us__body .staff h2 {
    grid-column: 1/3;
  }
  .about-us__body .staff .staff__member img {
    width: calc(100% - 16px);
    height: auto;
  }
  /*Contact*/
  .contact__body .header-contact {
    /*Header*/
    padding: 0 1rem;
  }
  .contact__body .contact-form {
    /*Form*/
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
  }
  /*Login*/
  .login {
    /*Layout mobile*/
    /*Grid 1x2*/
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "login__header" "login__section";
    justify-items: stretch;
    align-items: stretch;
  }
  .login .login__header {
    padding: 0 1rem;
  }
  .login .login__section {
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
  }
  .login .login__aside {
    /*Aside*/
    display: none;
  }
  /*User*/
  .user__body .header-user {
    /*Header*/
    padding: 0 1rem;
  }
  .user__body .download {
    /*Download section*/
    width: 100vw;
    height: auto;
    padding: 5rem 1rem;
    background-image: url(../img/user-download-background-mobile.webp);
    background-repeat: no-repeat;
    background-position: 48.5%;
    /*Grid 2x4*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "download__heading download__heading" "download__benefit__qr download__benefit__qr" "download__benefit__info download__benefit__info" "button__download__google button__download__apple";
    justify-items: stretch;
    align-items: center;
  }
  .user__body .download .download__heading,
  .user__body .download .download__benefit__qr,
  .user__body .download .download__benefit__info {
    width: calc(100vw - 32px);
    height: auto;
  }
  .user__body .download .download__heading {
    margin-bottom: 2rem;
  }
  .user__body .download .download__benefit__info div,
  .user__body .download .download__benefit__qr div {
    padding-left: 2rem;
  }
  .user__body .download .download__image {
    display: none;
  }
  .user__body .schedule {
    /*Schedule section*/
    padding: 5rem 1rem;
    /*Grid 2x3*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "schedule__gym-classes__boxing" "schedule__gym-classes__crossfit" "schedule__gym-classes__yoga" "schedule__gym-classes__online";
    justify-items: center;
    align-items: stretch;
  }
  .user__body .schedule .schedule__gym-class {
    width: calc(100vw - 32px);
    height: 14.875rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .user__body .schedule .schedule__gym-class .schedule__gym-class__image {
    margin: 0;
    padding-right: 1rem;
  }
  .user__body .schedule .schedule__gym-class .schedule__gym-class__time {
    display: block;
  }
  .user__body .schedule .schedule__gym-class .schedule__gym-class__time ul {
    text-align: left;
    margin-top: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0;
  }
  .user__body .schedule .schedule__gym-class .schedule__gym-class__time ul li {
    padding-bottom: 0.5rem;
  }
  .user__body .schedule .schedule__table {
    display: none;
  }
  /* Footer */
  .footer {
    padding: 5rem 1rem;
    /*Grid 2x3*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "footer__social-media footer__social-media" "footer__navigation-links footer__company-links" "footer__copyright footer__copyright";
    justify-items: center;
    align-items: stretch;
  }
  .footer .footer__social-media .footer__social-media__media {
    margin-top: 1.5rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  .footer .footer__social-media .footer__social-media__media a .bi-footer {
    padding-top: 0;
    padding-right: 0.5rem;
    padding-bottom: 0;
    padding-left: 0.5rem;
  }
  /* Button */
  .button {
    width: auto;
    height: 3rem;
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
  }
  .button--collapsed {
    width: auto;
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
  }
  .button--toggle {
    width: 50%;
    height: 2.25rem;
    padding-top: 0.5rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    padding-left: 0;
  }
  .button__download__google,
  .button__download__apple {
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    justify-self: center;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
