/*Generales*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Roboto_Condensed variant0, sans-serif;
  background-color: map-get($map: $colors, $key: primary);
  color: map-get($map: $colors, $key: fff);
}
/*Links*/
a {
  text-decoration: none;
  &:link,
  &:visited {
    color: map-get($map: $colors, $key: fff);
  }
}
a[class="button--text-black"] {
  color: map-get($map: $colors, $key: primary);
}
a[class="link"] {
  color: map-get($map: $colors, $key: accent);
}
/* Headings */
.heading {
  font-family: $font-heading;
  font-weight: 900;
}

h1 {
  font-size: map-get($map: $font-sizes, $key: t3125);
  margin-bottom: map-get($map: $margins, $key: m2);
  margin-top: map-get($map: $margins, $key: m2);
}

h2 {
  font-size: map-get($map: $font-sizes, $key: t2375);
}

h3 {
  font-size: map-get($map: $font-sizes, $key: t175);
}

h4 {
  font-size: map-get($map: $font-sizes, $key: t13125);
}
