/*Contact*/
.contact__body {
  @include backgrounds(url(../img/contact-background.webp), auto);
  /*Layout de contact*/
  /*Grid 1x4*/
  @include grid(
    100vw,
    repeat(4, auto),
    "website-navigation" "header-contact" "contact-form" "footer",
    stretch,
    stretch
  );
  .header-contact {
    /*Header*/
    grid-area: header-contact;
    padding: $padding-header;
    text-align: $text-center;
    h1 {
      margin-bottom: map-get($map: $margins, $key: m4);
    }
  }
  .contact-form {
    /*Form*/
    @include paddings(0, 7.5rem, 9rem, 7.5rem);
    grid-area: contact-form;
    form {
      .contact-form__form__control {
        background-color: map-get($map: $colors, $key: primary);
        margin-bottom: map-get($map: $margins, $key: m2);
      }
      .control-textarea {
        background-color: transparent;
        textarea {
          background-color: map-get($map: $colors, $key: primary);
        }
      }
      .control-submit-contact {
        text-align: $text-center;
        input {
          width: 12rem;
        }
      }
    }
  }
}
