/*Index*/
.index__body {
  /*Layout del index*/
  /*Grid 1x6*/
  @include grid(
    1fr,
    repeat(6, auto),
    "website-navigation" "header-home" "activities" "online-classes" "plans"
      "footer",
    stretch,
    stretch
  );
  .header-home {
    /*Header*/
    @include size(auto, 80vh);
    @include backgrounds(url(../img/home-hero-image-desktop.webp), auto);
    background-position: center right -10%;
    grid-area: header-home;
    animation-name: hero-image;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    .header-home__content {
      @include paddings(9rem, 0, 9rem, 0);
      @include flex(column nowrap, center, flex-start);
      height: 100%;
      animation-name: fadein;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      h1,
      p,
      button {
        margin-left: map-get($map: $margins, $key: m9);
      }
      h1 {
        @extend %margin-heading;
      }
      p {
        max-width: 40rem;
        font-size: map-get($map: $font-sizes, $key: t13125);
        margin-bottom: map-get($map: $margins, $key: m2);
      }
    }
  }
  main {
    .activities {
      /*Activities section*/
      padding: $padding-section;
      text-align: $text-center;
      @include backgrounds(url(../img/home-activities-background.webp), cover);
      /*Grid 4x3*/
      @include grid(
        repeat(4, auto),
        repeat(3, auto),
        "activities__heading activities__heading activities__heading activities__heading"
          "activities__weightlift activities__cross activities__boxing activities__yoga"
          "activities__button activities__button activities__button activities__button",
        center,
        stretch
      );
      // gap: 1.5rem 1rem;
      grid-area: activities;
      .activities__heading {
        grid-area: activities__heading;
      }
      .activities__weightlift {
        grid-area: activities__weightlift;
      }
      .activities__cross {
        margin-top: map-get($map: $margins, $key: m4);
        grid-area: activities__cross;
      }
      .activities__boxing {
        grid-area: activities__boxing;
      }
      .activities__yoga {
        margin-top: map-get($map: $margins, $key: m4);
        grid-area: activities__yoga;
      }
      .activities__button {
        grid-area: activities__button;
      }
      .activities__heading,
      .activities__gym-card {
        margin-bottom: map-get($map: $margins, $key: m4);
      }
      .activities__gym-card {
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.25s;
        }
      }
    }
    .online-classes {
      /*Online Classes section*/
      @include size(auto, 29rem);
      @include paddings(0, 0, 0, 7.5rem);
      background-color: map-get($map: $colors, $key: terciary);
      @include backgrounds(url(../img/home-online-classes-vector.webp), auto);
      background-position: top 0 left 25%;
      color: map-get($map: $colors, $key: fff);
      @include flex(row nowrap, space-between, center);
      grid-area: online-classes;
      overflow: hidden;
      .online-classes-mobile__content {
        max-width: 39rem;
        h2 {
          @extend %margin-heading;
        }
        p {
          margin-top: map-get($map: $margins, $key: m0);
        }
      }
      .online-classes__image {
        @include size(50vw, 100%);
        img {
          @include size(50vw, 100%);
        }
      }
    }
    .plans {
      /*Plans Section*/
      padding: $padding-section;
      text-align: $text-center;
      @include backgrounds(url(../img/home-plans-background.webp), cover);
      /* Grid 2x3 */
      @include grid(
        repeat(2, 50%),
        repeat(3, auto),
        "plans__heading plans__heading"
          "plans__button-toggle-container plans__button-toggle-container"
          "plans__normal-plan plans__thunder-plan",
        center,
        center
      );
      grid-area: plans;
      .plans__heading {
        margin-bottom: map-get($map: $margins, $key: m4);
        grid-area: plans__heading;
      }
      .plans__button-toggle-container {
        background-color: map-get($map: $colors, $key: primary);
        border-radius: 0.5rem;
        @include size(24rem, 2.5rem);
        margin-left: map-get($map: $margins, $key: mauto);
        margin-right: map-get($map: $margins, $key: mauto);
        box-shadow: 0 8px 16px black;
        @include flex(row nowrap, center, stretch);
        grid-area: plans__button-toggle-container;
      }
      .plans__gym-plan {
        @include size(24rem, 41rem);
        background-color: map-get($map: $colors, $key: primary);
        margin-top: map-get($map: $margins, $key: m4);
        @include flex(column nowrap, center, center);
        border-radius: 0.5rem;
        box-shadow: $shadow-default;
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.25s;
          box-shadow: $shadow-hover;
        }
        .plans__gym-plan__name {
          font-family: $font-heading;
          font-size: map-get($map: $font-sizes, $key: t2375);
        }
        .plans__gym-plan__separator {
          background-color: map-get($map: $colors, $key: fff);
          @include size(22rem, 0.125rem);
          margin-top: map-get($map: $margins, $key: m025);
        }
        .plans__gym-plan__relevant-info {
          font-family: $font-heading;
          font-size: map-get($map: $font-sizes, $key: t13125);
          margin-top: map-get($map: $margins, $key: m2);
        }
        .plans__gym-plan__benefits {
          padding-left: map-get($map: $paddings, $key: p0);
          @include margins(1rem, 0, 0, 0);
          li {
            @include paddings(0.5rem, 0, 0.5rem, 0);
            text-align: $text-center;
            .bi-plans {
              padding-right: map-get($map: $paddings, $key: p05);
            }
          }
        }
      }
      .plans__normal-plan {
        grid-area: plans__normal-plan;
      }
      .plans__thunder-plan {
        grid-area: plans__thunder-plan;
        .plans__thunder-plan__tag {
          color: map-get($map: $colors, $key: accent);
          font-weight: 900;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    position: absolute;
    left: -100%;
  }
  100% {
    position: absolute;
    left: 0;
  }
}
@keyframes hero-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
