/*Index*/
.index__body {
  /*Layout del index*/
  /*Grid 1x6*/
  @include grid(
    1fr,
    repeat(6, auto),
    "website-navigation" "header-home" "activities" "online-classes" "plans"
      "footer",
    stretch,
    stretch
  );
  .header-home {
    /*Header*/
    @include backgrounds(url(../img/home-hero-image-desktop.webp), auto);
    background-position: center right -10%;
    @include size(auto, 80vh);
    animation-name: hero-image;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    grid-area: header-home;
    .header-home__content {
      @include flex(column nowrap, center, flex-start);
      @include paddings(9rem, 0, 9rem, 0);
      animation-name: fadein;
      animation-iteration-count: 1;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      height: 100%;
      h1,
      p,
      button {
        margin-left: map-get($map: $margins, $key: m9);
      }
      h1 {
        @extend %margin-heading;
      }
      p {
        font-size: map-get($map: $font-sizes, $key: t13125);
        margin-bottom: map-get($map: $margins, $key: m2);
        max-width: 40rem;
      }
    }
  }
  main {
    .activities {
      /*Activities section*/
      /*Grid 4x3*/
      @include grid(
        repeat(4, auto),
        repeat(3, auto),
        "activities__heading activities__heading activities__heading activities__heading"
          "activities__weightlift activities__cross activities__boxing activities__yoga"
          "activities__button activities__button activities__button activities__button",
        center,
        stretch
      );
      @include backgrounds(url(../img/home-activities-background.webp), cover);
      grid-area: activities;
      padding: $padding-section;
      text-align: $text-center;
      .activities__heading {
        grid-area: activities__heading;
      }
      .activities__weightlift {
        grid-area: activities__weightlift;
      }
      .activities__cross {
        grid-area: activities__cross;
        margin-top: map-get($map: $margins, $key: m4);
      }
      .activities__boxing {
        grid-area: activities__boxing;
      }
      .activities__yoga {
        grid-area: activities__yoga;
        margin-top: map-get($map: $margins, $key: m4);
      }
      .activities__button {
        grid-area: activities__button;
      }
      .activities__heading,
      .activities__gym-card {
        margin-bottom: map-get($map: $margins, $key: m4);
      }
      .activities__gym-card {
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.25s;
        }
      }
    }
    .online-classes {
      /*Online Classes section*/
      @include backgrounds(url(../img/home-online-classes-vector.webp), auto);
      background-position: top 0 left 25%;
      @include flex(row nowrap, space-between, center);
      @include paddings(0, 0, 0, 7.5rem);
      @include size(auto, 29rem);
      background-color: map-get($map: $colors, $key: terciary);
      color: map-get($map: $colors, $key: fff);
      grid-area: online-classes;
      overflow: hidden;
      .online-classes-mobile__content {
        max-width: 39rem;
        h2 {
          @extend %margin-heading;
        }
        p {
          margin-top: map-get($map: $margins, $key: m0);
        }
      }
      .online-classes__image {
        @include size(50vw, 100%);
        img {
          @include size(50vw, 100%);
        }
      }
    }
    .plans {
      /*Plans Section*/
      @include backgrounds(url(../img/home-plans-background.webp), cover);
      /* Grid 2x3 */
      @include grid(
        repeat(2, 50%),
        repeat(3, auto),
        "plans__heading plans__heading"
          "plans__button-toggle-container plans__button-toggle-container"
          "plans__normal-plan plans__thunder-plan",
        center,
        center
      );
      padding: $padding-section;
      text-align: $text-center;
      grid-area: plans;
      input {
        display: none;
      }
      .plans__heading {
        margin-bottom: map-get($map: $margins, $key: m4);
        grid-area: plans__heading;
      }
      .plans__button-toggle-container {
        @include flex(row nowrap, center, stretch);
        @include size(24rem, 2.5rem);
        background-color: map-get($map: $colors, $key: primary);
        border-radius: map-get($map: $border-radius, $key: b05);
        box-shadow: 0 8px 16px black;
        grid-area: plans__button-toggle-container;
        margin-left: map-get($map: $margins, $key: mauto);
        margin-right: map-get($map: $margins, $key: mauto);
      }
      .plans__gym-plan {
        @include flex(column nowrap, center, center);
        @include size(24rem, 41rem);
        background-color: map-get($map: $colors, $key: primary);
        border-radius: map-get($map: $border-radius, $key: b05);
        box-shadow: $shadow-default;
        margin-top: map-get($map: $margins, $key: m4);
        &:hover {
          box-shadow: $shadow-hover;
          transform: scale(1.1, 1.1);
          transition: 0.25s;
        }
        .plans__annually,
        .plans__monthly {
          .plans__gym-plan__name {
            font-family: $font-heading;
            font-size: map-get($map: $font-sizes, $key: t2375);
          }
          .plans__gym-plan__separator {
            @include size(22rem, 0.125rem);
            background-color: map-get($map: $colors, $key: fff);
            margin-top: map-get($map: $margins, $key: m025);
          }
          .plans__gym-plan__relevant-info {
            font-family: $font-heading;
            font-size: map-get($map: $font-sizes, $key: t175);
            margin-top: map-get($map: $margins, $key: m2);
          }
          .plans__gym-plan__benefits {
            @include margins(1rem, 0, 0, 0);
            padding-left: map-get($map: $paddings, $key: p0);
            li {
              @include paddings(0.5rem, 0, 0.5rem, 0);
              text-align: $text-center;
              .bi-plans {
                padding-right: map-get($map: $paddings, $key: p05);
              }
            }
          }
        }
      }
      .plans__normal-plan {
        grid-area: plans__normal-plan;
      }
      .plans__thunder-plan {
        grid-area: plans__thunder-plan;
        .plans__thunder-plan__tag {
          color: map-get($map: $colors, $key: accent);
          font-weight: $black;
        }
      }
    }
  }
}

/*Declaraciones que hacen que funcione el switch*/

#btn-switch-monthly:checked ~ .plans__gym-plan .plans__monthly {
  display: block;
}

#btn-switch-monthly:checked ~ .plans__gym-plan .plans__annually {
  display: none;
}

#btn-switch-monthly:checked ~ .plans__button-toggle-container .btn-annually {
  background: none;
  background-color: map-get($map: $colors, $key: primary);
  border: none;
  color: map-get($map: $colors, $key: fff);
  &:hover {
    border: thin solid map-get($map: $colors, $key: accent);
    color: map-get($map: $colors, $key: accent);
  }
}

#btn-switch-monthly:checked ~ .plans__button-toggle-container .btn-monthly {
  pointer-events: none;
}

#btn-switch-annually:checked ~ .plans__gym-plan .plans__monthly {
  display: none;
}

#btn-switch-annually:checked ~ .plans__gym-plan .plans__annually {
  display: block;
}

#btn-switch-annually:checked ~ .plans__button-toggle-container .btn-monthly {
  background: none;
  background-color: map-get($map: $colors, $key: primary);
  border: none;
  color: map-get($map: $colors, $key: fff);
  &:hover {
    border: thin solid map-get($map: $colors, $key: accent);
    color: map-get($map: $colors, $key: accent);
  }
}

#btn-switch-annually:checked ~ .plans__button-toggle-container .btn-annually {
  pointer-events: none;
}
