/*Location*/
.location__body {
  /*Layout de location*/
  @include grid(
    100vw,
    repeat(5, auto),
    "website-navigation" "header-location" "features" "information" "footer",
    stretch,
    stretch
  );
  .header-location {
    /*Header*/
    grid-area: header-location;
    padding: $padding-header;
    text-align: $text-center;
    h1 {
      margin-bottom: map-get($map: $margins, $key: m4);
    }
    .carousel-mobile {
      display: $dnone;
    }
    .carousel-slide {
      /*Carrusel de imágenes*/
      margin-bottom: map-get($map: $margins, $key: m4);
      .carousel-inner {
        .carousel-item {
          img {
            @include margins(0, auto, 0, auto);
          }
        }
      }
    }
  }
  .features {
    /*Features Section*/
    @include backgrounds(url(../img/location-features-background.webp), cover);
    grid-area: features;
    padding: $padding-section;
    text-align: $text-center;
    .features__gym-features {
      /*Features*/
      /*Grid 4x2*/
      @include grid(
        repeat(4, 25%),
        repeat(2, auto),
        "features__gym-features__lockers features__gym-features__showers features__gym-features__glove features__gym-features__dumbbell"
          "features__gym-features__time features__gym-features__staff features__gym-features__gymnastics features__gym-features__air-conditioner",
        center,
        stretch
      );
      @include margins(0, 12.75rem, 0, 12.75rem);
      /*Declaraciones de las ventanas modales*/
      input {
        display: none;
      }
      .open-modal {
        color: map-get($map: $colors, $key: accent);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .modal-container {
        @include size(100%, 100vh);
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.6);
        display: none;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .modal-content {
          @include flex(column nowrap, center, center);
          @include size(30rem, auto);
          background-color: map-get($map: $colors, $key: primary);
          border: medium solid map-get($map: $colors, $key: fff);
          border-radius: map-get($map: $border-radius, $key: b05);
          color: map-get($map: $colors, $key: fff);
          padding: map-get($map: $paddings, $key: p15);
          h3 {
            margin-top: map-get($map: $margins, $key: m1);
          }
          small {
            margin-bottom: map-get($map: $margins, $key: m1);
          }
          label {
            align-self: end;
            cursor: pointer;
          }
        }
        .close-modal {
          @include size(100%, 100vh);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
      .features__gym-features__listitem {
        @include flex(column nowrap, center, center);
        @include paddings(0, 1rem, 0, 1rem);
        @include size(11.25rem, 15.5rem);
        background-color: map-get($map: $colors, $key: primary);
        border: thin solid map-get($map: $colors, $key: fff);
        border-top: thick solid map-get($map: $colors, $key: fff);
        border-radius: map-get($map: $border-radius, $key: b025);
        box-shadow: $shadow-default;
        margin-top: map-get($map: $margins, $key: m2);
        text-align: $text-center;
        p {
          color: map-get($map: $colors, $key: fff);
          font-family: $font-heading;
          margin-top: map-get($map: $margins, $key: m05);
        }
      }
      .features__gym-features__lockers {
        grid-area: features__gym-features__lockers;
      }
      .features__gym-features__showers {
        grid-area: features__gym-features__showers;
      }
      .features__gym-features__glove {
        grid-area: features__gym-features__glove;
      }
      .features__gym-features__dumbbell {
        grid-area: features__gym-features__dumbbell;
      }
      .features__gym-features__time {
        grid-area: features__gym-features__time;
      }
      .features__gym-features__staff {
        grid-area: features__gym-features__staff;
      }
      .features__gym-features__gymnastics {
        grid-area: features__gym-features__gymnastics;
      }
      .features__gym-features__air-conditioner {
        grid-area: features__gym-features__air-conditioner;
      }
    }
  }
  .information {
    /*Information Section*/
    @include flex(row wrap, space-between, flex-start);
    background-color: map-get($map: $colors, $key: terciary);
    grid-area: information;
    padding: $padding-section;
    .information__contact-information {
      @include flex(column nowrap, center, center);
      @include paddings(0, 2rem, 0, 2rem);
      @include size(35%, 28.125rem);
      background-color: #8d8d8d;
      border-radius: map-get($map: $border-radius, $key: b05);
      z-index: 1;
      h2 {
        margin-bottom: map-get($map: $margins, $key: m2);
        text-align: $text-center;
      }
      ul {
        padding: map-get($map: $paddings, $key: p0);
        li {
          font-size: map-get($map: $font-sizes, $key: t125);
          margin-bottom: map-get($map: $margins, $key: m1);
          text-align: $text-center;
        }
      }
    }
    iframe {
      border-radius: map-get($map: $border-radius, $key: b05);
      box-shadow: $shadow-default;
    }
  }
}

/*Declaraciones que hacen que funcionen las ventanas modales*/

#btn-modal-lockers:checked + .modal-container {
  display: flex;
}

#btn-modal-shower:checked + .modal-container {
  display: flex;
}

#btn-modal-glove:checked + .modal-container {
  display: flex;
}

#btn-modal-dumbbell:checked + .modal-container {
  display: flex;
}

#btn-modal-time:checked + .modal-container {
  display: flex;
}

#btn-modal-staff:checked + .modal-container {
  display: flex;
}

#btn-modal-gymnastics:checked + .modal-container {
  display: flex;
}

#btn-modal-airconditioner:checked + .modal-container {
  display: flex;
}
