/*Login*/
.login {
  /*Layout del login*/
  /*Grid 2x2*/
  @include grid(
    repeat(2, 50%),
    repeat(2, auto),
    "login__header login__aside" "login__section login__aside",
    stretch,
    stretch
  );
  .login__header {
    /*Header*/
    padding: $padding-header;
    text-align: $text-center;
    grid-area: login__header;
    align-self: end;
  }
  .login__section {
    /*Form*/
    @include paddings(0, 7.5rem, 9rem, 7.5rem);
    grid-area: login__section;
    .login__section__form {
      @include flex(column nowrap, flex-start, stretch);
      p {
        margin-bottom: map-get($map: $margins, $key: m2);
      }
      .create-account,
      .control-submit-login {
        margin-bottom: map-get($map: $margins, $key: m2);
        align-self: center;
      }
      .control-submit-login {
        width: 12rem;
      }
      .create-account {
        a {
          font-family: $font-heading;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .login__aside {
    /*Aside*/
    max-width: 100%;
    grid-area: login__aside;
    img {
      @include size(100%, 100vh);
    }
  }
}
