/*Nav*/
.website-navigation {
  z-index: 2;
  @include paddings(0.5rem, 7.5rem, 0.5rem, 7.5rem);
  background-color: map-get($map: $colors, $key: primary);
  @extend %sticky;
  @include flex(row nowrap, space-between, center);
  grid-area: website-navigation;
  .website-navigation__logo {
    a {
      img {
        @include size(auto, 4rem);
      }
    }
  }
  nav {
    ul {
      padding-left: map-get($map: $paddings, $key: p0);
      margin: map-get($map: $margins, $key: m0);
      @include flex(row nowrap, space-between, center);
      li {
        @include size(auto, 4rem);
        padding: $padding-nav;
        font-size: map-get($map: $font-sizes, $key: t1);
        font-family: $font-heading;
        &:nth-child(5) {
          @include paddings(0.75rem, 1rem, 0.75rem, 1rem);
        }
        .website-navigation__link {
          &:hover {
            color: map-get($map: $colors, $key: accent);
            text-decoration: underline;
          }
        }
      }
      /*este boton esta puesto en la nav por temas de especificidad*/
      .button--collapsed {
        @extend %button-special;
      }
    }
  }
}
.website-navigation-mobile {
  display: $dnone;
}
