/*User*/
.user__body {
  /*Layout de user*/
  /*Grid 1x5*/
  @include grid(
    100vw,
    repeat(5, auto),
    "website-navigation" "header-user" "download" "schedule" "footer",
    "stretch",
    stretch
  );
  .header-user {
    /*Header*/
    padding: $padding-header;
    grid-area: header-user;
  }
  .download {
    /*Download section*/
    padding: $padding-section;
    grid-area: download;
    // background-color: map-get($map: $colors, $key: secondary);
    /*Grid 3x4*/
    @include grid(
      repeat(3, 33.33%),
      repeat(4, auto),
      "download__heading download__heading download__image"
        "download__benefit__qr download__benefit__qr download__image"
        "download__benefit__info download__benefit__info download__image"
        "button__download__google button__download__apple download__image",
      stretch,
      stretch
    );
    .download__heading {
      grid-area: download__heading;
      align-self: end;
    }
    .download__image {
      grid-area: download__image;
    }
    .download__benefit__qr {
      grid-area: download__benefit__qr;
    }
    .download__benefit__info {
      grid-area: download__benefit__info;
    }
    .button__download__google {
      grid-area: button__download__google;
      align-self: center;
      justify-self: center;
      width: 14rem;
    }
    .button__download__apple {
      grid-area: button__download__apple;
      align-self: center;
      width: 14rem;
    }
    .download__benefit {
      @include flex(row nowrap, flex-start, center);
      img {
        max-width: 4.5rem;
        max-height: 4.5rem;
      }
      div {
        padding-left: 2.5rem;
      }
      h4 {
        margin-top: map-get($map: $margins, $key: m0);
        margin-bottom: map-get($map: $margins, $key: m1);
      }
    }
  }
  .schedule {
    /*Schedule Section*/
    @include backgrounds(url(../img/user-schedule-background.webp), cover);
    padding: $padding-section;
    grid-area: schedule;
    /*Grid 4x3*/
    @include grid(
      repeat(4, 1fr),
      repeat(3, auto),
      "schedule__heading schedule__heading schedule__heading schedule__heading"
        "schedule__gym-classes__boxing schedule__gym-classes__crossfit schedule__gym-classes__yoga schedule__gym-classes__online"
        "schedule__table schedule__table schedule__table schedule__table",
      center,
      stretch
    );
    text-align: $text-center;
    .schedule__gym-class {
      background-color: map-get($map: $colors, $key: primary);
      margin-bottom: map-get($map: $margins, $key: m4);
      @include size(13rem, auto);
      @include paddings(1rem, 2.5rem, 1rem, 2.5rem);
      @include flex(column nowrap, center, center);
      border: thin solid map-get($map: $colors, $key: fff);
      border-radius: 0.5rem;
      box-shadow: $shadow-default;
      .schedule__gym-class__image {
        img {
          @include size(4rem, 4rem);
          margin-bottom: map-get($map: $margins, $key: m1);
        }
        font-family: $font-heading;
        font-weight: 700;
      }
      .schedule__gym-class__time {
        display: none;
      }
    }
    .schedule__heading {
      grid-area: schedule__heading;
      margin-bottom: map-get($map: $margins, $key: m4);
      justify-self: start;
    }
    .schedule__gym-classes__boxing {
      grid-area: schedule__gym-classes__boxing;
      border-top: thick solid map-get($map: $colors, $key: fff);
    }
    .schedule__gym-classes__crossfit {
      grid-area: schedule__gym-classes__crossfit;
      border-top: thick solid map-get($map: $colors, $key: fff);
    }
    .schedule__gym-classes__yoga {
      grid-area: schedule__gym-classes__yoga;
      border-top: thick solid map-get($map: $colors, $key: fff);
    }
    .schedule__gym-classes__online {
      grid-area: schedule__gym-classes__online;
      border-top: thick solid map-get($map: $colors, $key: fff);
    }
    .schedule__table {
      /*Tabla*/
      grid-area: schedule__table;
      width: 100%;
      margin: map-get($map: $margins, $key: m0);
      text-align: $text-center;
      margin-bottom: map-get($map: $margins, $key: m4);
      caption {
        display: $dnone;
      }
      thead {
        th {
          background-color: map-get($map: $colors, $key: secondary);
          @extend %table;
        }
      }
      tbody {
        tr {
          td {
            @extend %table;
            border: thin solid map-get($map: $colors, $key: fff);
            background-color: map-get($map: $colors, $key: primary);
          }
          th {
            background-color: map-get($map: $colors, $key: secondary);
          }
        }
      }
    }
  }
}
