// posisionamiento sticky de la nav, uso un mixin porque no se puede hacer un @extend entre media queries
%sticky {
  @include sticky;
}
// botones
%button {
  @include paddings(1rem, 2.5rem, 1rem, 2.5rem);
  @include size(auto, 4rem);
  background: linear-gradient(
    to bottom,
    map-get($map: $colors, $key: accent),
    #ebb70a
  );
  border: 1px solid map-get($map: $colors, $key: accent);
  border-radius: map-get($map: $border-radius, $key: b05);
  box-shadow: $shadow-default;
  color: map-get($map: $colors, $key: primary);
  font-size: map-get($map: $font-sizes, $key: t125);
  font-family: $font-heading;
  font-weight: $bold;
  text-decoration: none;
  &:hover {
    background: none;
    background-color: map-get($map: $colors, $key: primary);
    border: thin solid map-get($map: $colors, $key: accent);
    box-shadow: $shadow-hover;
    color: map-get($map: $colors, $key: accent);
    a {
      color: map-get($map: $colors, $key: accent);
    }
  }
}
%button-special {
  @extend %button;
  @include size(auto, 2.5rem);
  font-size: map-get($map: $font-sizes, $key: t1);
  padding: $padding-button-special;
  text-align: center;
}
// margins generales
%margin-heading {
  margin-top: 0;
  margin-bottom: 2rem;
}
// tamaño de las celdas de la tabla
%table {
  width: 12.5%;
  height: 3rem;
}
