// Paddings
$padding-section: 9rem 7.5rem;
$padding-nav: 1.25rem 1.5rem;
$padding-button-special: 0.5rem 1.25rem;
$padding-header: 0 7.5rem;
$padding-mobile-section: 5rem 1rem;
$padding-mobile-header: 0 1rem;

// text align center
$text-center: center;

// displays
$dnone: none;
$dblock: block;

// Font family
$font-heading: Archivo, sans-serif;

// Font weights
$bold: 700;
$black: 900;

// Box Shadows
$shadow-default: 0 0.5rem 1rem
  map-get(
    $map: $colors,
    $key: 000,
  );
$shadow-hover: 0 0.5rem 0.5rem
  map-get(
    $map: $colors,
    $key: 000,
  );
$shadow-none: none;
