/*Buttons*/
.button {
  @extend %button;
}
.button--collapsed,
.button__plan,
.button--toggle {
  @extend %button-special;
}
.button--toggle {
  @include size(50%, auto);
  box-shadow: $shadow-none;
  cursor: pointer;
  margin: map-get($map: $margins, $key: m0);
  &:hover {
    box-shadow: $shadow-none;
  }
}
.button__plan {
  margin-top: map-get($map: $margins, $key: m2);
}
.button__download__google,
.button__download__apple {
  @extend %button;
  @include paddings(1rem, 1.5rem, 1rem, 1.5rem);
  @include size(13rem, 6rem);
  text-align: $text-center;
}
